form {
    background-color: lightcoral;
    padding: 20px;
}

input,
select,
label {
    display: block;
}

#country {
    width: 115px;
    height: 25px;
}

label {
    font-size: 20px;
    margin: 20px 0 3px 0;
    cursor: pointer;
}

input {
    background: whitesmoke;
    height: 15px;
}

input#submit-btn {
    color: lightcoral;
}

.invalid {
    border: 1px solid red;
}

input+p,
select+p {
    display: none;
}

input.invalid+p {
    display: block;
}

.hidden {
    display: none;
}